include partials/titular
div(ng-controller="Init")
    h3.page-header Titular asegurado

    //- div(
    //-     titular,
    //-     titular-beneficiario-preferente="true"
    //- )
    //- br


    +titular('true')

    br
    div.row
        div.col-sm-1
            a(
                href="",
                name="top",
                ng-model="top",
                tooltip="On the Tooltip!Tooltip!Tooltip!Tooltip!Tooltip!Tooltip!Tooltip!Tooltip!",
                tooltip-placement="top"
            ) Top
        div.col-sm-6
            div.col-sm-1
            a(
                href="",
                name="html",
                ng-model="html",
                tooltip-html-unsafe="{{htmlTooltip}}",
                tooltip-placement="right"
            ) htmlTooltip